body{
    background-color: lightgray;
    background-image: url('../CSS/itachi.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;

}
.content{
    border: 5px rgb(73, 234, 159) solid;
    outline: 5px solid black;

    margin: 10px;
    width: 50%;
    height: 450px;

    padding: 50px;

    text-align: left;
    color: black;

    font-family: sans-serif;
    font-style: italic;
    font-size: 1.4vw;   /* vw is for adjusting font in different devices(responsive) */

}
.items{
    background-color: rgb(184, 204, 223);
    height: 50px;
    margin: 0;
    padding-top: 25px;

}

.bars{
    display: inline;
    padding: 10px;
    
}

a:hover{
    background-color: rgb(0, 0, 0);
    font-size: 1.2em;
}

a:active{
    font-size: 1.2em;
}